<div class="float-end">
  <%= link_to "Back to events", events_path %>
</div>

<h4><%= @event.name %></h4>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-3">
      <strong><i class="bi bi-body-text"></i> Description</strong>
    </div>
    <div class="col-10 col-md-9"><%= @event.description %></strong></div>
  </div>  
  <div class="row">
    <div class="col-md-2 col-3">
      <strong><i class="bi bi-pin-map-fill"></i> Location</strong>
    </div>
    <div class="col-10 col-md-9"><%= @event.location %></strong></div>
  </div>  
  <div class="row">
    <div class="col-md-2 col-3">
      <strong><i class="bi bi-calendar-date"></i> Date</strong>
    </div>
    <div class="col-10 col-md-9"><%= @event.date.nil? ? 'N/A' : @event.date.strftime('%b %d, %Y @ %l:%M:%S%P') %></strong></div>
  </div>  
  <div class="row">
    <div class="col-md-2 col-3">
      <strong><i class="bi bi-person-circle"></i> Organizer</strong>
    </div>
    <div class="col-10 col-md-9"><%= mail_to @event.user.email %></strong></div>
  </div>  
  <div class="row">
    <div class="col-md-2 col-3">
      <strong><i class="bi bi-people"></i> Attendees</strong>
    </div>
    <div class="col-10 col-md-9"><%= pluralize(@event.attendances.count, "person") %></div>
  </div>  
</div>
<hr />


<div>
  <% if current_user.joining_event(@event.id) %>
    <%= link_to "Cancel attendance", cancel_attendance_event_path(@event), data: { confirm: 'Are you sure to cancel your attendance?' }, class: "btn btn-warning btn-sm" %>
  <% else %>
    <%= link_to "Join this event", join_event_event_path(@event), data: { confirm: 'Are you sure to join this event?' }, class: "btn btn-primary btn-sm" %>
  <% end %>
  <%= link_to "Edit this event", edit_event_path(@event), class: "btn btn-info btn-sm" %>
  <%= button_to "Destroy this event", @event, form: {style: 'display:inline-block;'}, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: 'Are you sure to delete this event?' } %>
</div>
